.flexy{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

nav li{
    list-style: none;
    padding:20px;
}
nav li:hover{
    color: blue;
    background-color: aliceblue;
}
nav a{
    color: black;
    text-decoration: none;
}